<% if (path !== 'index.html'){ %>

<header class="hg-header-on-page">
	<h1>
	<a href="/" class="hg-header-logo-image--circle-on-page">
		HappyGrunt
	</a>
	</h1>
</header>

<% } else {%>
<header class="hg-header">
	<h1>
	<a href="/" class="hg-header-logo-image--circle">HappyGrunt
	</a>
	</h1>
	<h2>Meanderings of a software developer about life and random stuff</h2>
</header>
<% } %>
