doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="description" content="hello there")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css', type='text/css')
  body
    h1 Pug - #{attributes.title}
    .ui.text.container
      if content
        p.
          there is content!
      block content
        poooh