$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$action-color: #477dca !default;
$dark-gray: #41484c !default;
$light-gray: #aaa !default;
$medium-screen: 40em !default;
$base-font-color: $dark-gray !default;
$sans-serif: "PT Sans", sans-serif;
$sans-serif-2: "Titillium Web", sans-serif;
