<div class="index-block__container">
  <main class="post-list-block__container">
    <% page.posts.each(function(item, itemIndex){ %>
			<%- partial('_partial/article-index', {item: item}) %>
    <% }); %>
    <%- partial('_partial/pagination') %>
  </main>
</div>
